#name{
    width: 10%;
    overflow: hidden;
    margin-right: 5vw

}
#name, #message, #time{
    display: inline-block;
    line-height: 1rem
}
#time{
    float: right;
    margin-right:5vw
}
#messageBox{
    margin-bottom: 5px;
    border-bottom: 1px solid black
}
#chatWindow{
    overflow-y: scroll;
    height: 80vh
}

.invisible{
    display: none
}