h1{
    text-align: center;
}

#nameForm{
    text-align: center;
    margin-bottom: 1rem;
}

#chatElements{
    margin-left: 10%;
    margin-right: 10%;
}


#chatWindow{
    overflow-y: scroll;
    height: 75vh;
    margin-bottom: 1rem;
}

#name{
    width: 10%;
    overflow: hidden;
    margin-right: 5vw

}
#name, #message, #time{
    display: inline-block;
    line-height: 1rem
}
#time{
    float: right;
    margin-right:5vw
}
#messageBox{
    margin-bottom: 5px;
    border-bottom: 1px solid black;
    padding-bottom: 0.5vw;
}

#chatElements > form > input{
    width: 95%;
}

.invisible{
    display: none
}